# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Web键盘商城系统\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
